* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(fon1.jpg);
    font-family: cursive;
    color: #494650;
    animation: fon 60s infinite;
    cursor: url(images/cursor.png), default;
  }
  
  @keyframes fon {
    from {
      background-position: -100px 0;
    }
    to {
      background-position: 100px 50px;
    }
  }
  
  #container {
    width: 90%;
    margin: 20px auto;
  }
  
  header {
    background: rgba(255, 253, 153, 0.6) url(images/logo.png) no-repeat;
    background-size: 300px;
    background-position: 30px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #6197649f;
  }
  
  h1 {
    text-shadow: 0 0 5px #f5f5f5;
    font-size: 60px;
  }
  
  #head {
    margin-top: 30px;
    margin-left: 33%;
    border-left: 5px solid #52bb6c7e;
    padding-left: 20px;
  }
  
  nav {
    background: #56be5b9f;
    height: 60px;
    padding-top: 10px;
    margin: 1% 0;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #668d689f;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    display: block;
    color: #c5764a;
  }
  
  nav li {
    display: inline-block;
    background: rgb(255, 255, 255);
    width: 10%;
    height: 40px;
    line-height: 40px;
    border-radius: 100%/50%;
    transition: 1s;
  }
  
  nav li:hover {
    display: inline-block;
    background: #ffd93b;
    transform: translateY(6px);
    transition: 1s;
    box-shadow: 0 0 20px 1px #ffd93b;
  }
  
  nav a:hover {
    color: #f7f5fa;
  }
  
  aside {
    background: #71923f7e;
    height: 500px;
    padding: 20px;
    width: 25%;
    float: left;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #3f6448;
    text-align: center;
  }
  
  aside li {
    background: #00f53da1;
    height: 40px;
    line-height: 40px;
    border-radius: 100%/50%;
    transition: 1s;
    margin-top: 10px;
    list-style: none;
  }
  
  aside li:hover {
    background: #fdfdfb;
    transform: translateX(6px);
    transition: 1s;
    box-shadow: 0 0 20px 1px #fdfdfb;
  }
  
  aside a:hover {
    color: #c5764a;
  }
  
  aside a {
    color: #f7f5fa;
  }
  
  main {
    background: rgba(255, 255, 255, 0.801);
    padding: 40px;
    margin-left: 26%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px #3f6448;
  }
  
  footer {
    background: #e3ff459a;
    padding: 20px;
    margin: 1% 0;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #ffffff9f;
    text-align: center;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  main img {
    display: block;
    margin: 50px auto;
  }
  
  #link {
    display: flex;
    justify-content: space-between;
    background: #b9d1967e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 1px #3f6448;
    text-align: center;
    margin-top: 1%;
  }
  
  #link img {
    opacity: 0.7;
  }
  
  #link img:hover {
    opacity: 1;
  }
  
  img {
    transition: 1s;
  }
  
  img:hover {
    transform: scale(1.2);
    transition: 1s;
  }
  
  #link figcaption {
    background: rgb(255, 255, 255);
    color: #3f6448;
    height: 40px;
    line-height: 40px;
    border-radius: 100%/50%;
  }
  
  footer img {
    width: 50px;
  }
  
  .top {
    position: fixed;
    bottom: 20px;
    right: 40px;
  }
  
  h2 {
    color: #3f6448;
    border-radius: 100%/50%;
    border: 2px solid #c5764a;
    text-align: center;
    padding: 10px;
  }
  
  #cosial {
    float: right;
  }
  
  #cosial a {
    display: inline-block;
  }
  
  #cosial a:hover {
    color: #3f6448;
  }
  
  .left {
    width: 300px;
    float: left;
    margin-right: 30px;
  }
  
  .right {
    width: 300px;
    float: right;
    margin-left: 30px;
  }
  #video {
    text-align: center;
    margin-top: 50px;
  }
  
  #images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  #images figure {
    width: 40%;
    margin: 10px;
    transition: 1s;
    border: 10px solid #fff;
    box-shadow: 5px 5px 15px #000;
  }
  
  #images figure:hover {
    transform: scale(1.3);
    transition: 1s;
  }
  
  #images figure img {
    width: 100%;
  }
  
  #images figcaption {
    background: #fff;
    color: rgb(4, 41, 15);
    padding: 15px;
    margin-top: -5px;
  }
  
  #images img:hover {
    transform: scale(1);
  }
  
  #images img {
    margin: 0;
  }
  
  details {
    text-align: center;
    margin: 1% auto;
    width: 70%;
  }
  
  summary {
    background: #b9d196;
    height: 40px;
    line-height: 40px;
    border-radius: 100%/50%;
  }